In [1]:
print("This is Kolhapur")

This is Kolhapur

## Variable

In [2]:
name ="VaibhaV"

In [3]:
print(name)

VaibhaV

In [4]:
name = "Sheetal"

In [5]:
print(name)

Sheetal

## Data type
- int
- float
- Boolean
- String

In [9]:
num1= 1 
print(type(num1))
num2= 2.303 
print(type(num2))
num3= True 
print(type(num3))
num4= "VaibhaV" 
print(type(num4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

## Operators

## Arithmatic Operator +, -, *, /

In [16]:

num1, num2 =36, 7

In [17]:
num1 + num2

43

In [18]:
num1 - num2

29

In [19]:
num1 * num2

252

In [20]:
num1 / num2

5.142857142857143

In [21]:
num1 // num2

5

## Relational Operator <, >, ==, !=

In [23]:
num1 > num2

True

In [24]:
num1 < num2

False

In [25]:
num1 == num2

False

In [26]:
num1 != num2

True

## Logical Operator & |

In [28]:
log1 = True
log2 = False

In [29]:
log1 & log2

False

In [30]:
log1 & log1

True

In [31]:
log1 | log1

True

## Python Tokens
Smallest meaning full componet in program
- Keywords : Special reversed words like For If Yield
- Identifiers: Names used for variables, functions or objects
- Literals : Costants in python
    - num = "Test" : here "num" is Identifier and "Test" is literal
- Operators

## String:

In [33]:
str1 = "I love Pizza"
str1.find("Piz")

7

In [35]:
fruits ="Mango, Banana, Apple"
fruits.split(", ")

['Mango', 'Banana', 'Apple']

## List

In [48]:
l1 = [1, "a", 2, True]

In [49]:
l1[0]=100
l1

[100, 'a', 2, True]

In [50]:
l1.append("VaibhaV")
l1

[100, 'a', 2, True, 'VaibhaV']

In [51]:
l1.pop()

'VaibhaV'

In [52]:
l1

[100, 'a', 2, True]

In [53]:
l1.reverse()
l1

[True, 2, 'a', 100]

In [54]:
l1.insert(1, "Test")
l1

[True, 'Test', 2, 'a', 100]

In [56]:
l1.sort()
l1

TypeError: '<' not supported between instances of 'str' and 'bool'

In [57]:
l2 = ['Mango', 'Banana', 'Apple']
l2.sort()
l2

['Apple', 'Banana', 'Mango']