In [1]:
print("This is Kolhapur")

This is Kolhapur

## Variable

In [2]:
name ="VaibhaV"

In [3]:
print(name)

VaibhaV

In [4]:
name = "Sheetal"

In [5]:
print(name)

Sheetal

## Data type
- int
- float
- Boolean
- String

In [9]:
num1= 1 
print(type(num1))
num2= 2.303 
print(type(num2))
num3= True 
print(type(num3))
num4= "VaibhaV" 
print(type(num4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

## Operators

## Arithmatic Operator +, -, *, /

In [16]:

num1, num2 =36, 7

In [17]:
num1 + num2

43

In [18]:
num1 - num2

29

In [19]:
num1 * num2

252

In [20]:
num1 / num2

5.142857142857143

In [21]:
num1 // num2

5

## Relational Operator <, >, ==, !=

In [23]:
num1 > num2

True

In [24]:
num1 < num2

False

In [25]:
num1 == num2

False

In [26]:
num1 != num2

True

## Logical Operator & |

In [28]:
log1 = True
log2 = False

In [29]:
log1 & log2

False

In [30]:
log1 & log1

True

In [31]:
log1 | log1

True

## Python Tokens
Smallest meaning full componet in program
- Keywords : Special reversed words like For If Yield
- Identifiers: Names used for variables, functions or objects
- Literals : Costants in python
    - num = "Test" : here "num" is Identifier and "Test" is literal
- Operators

## String:

In [33]:
str1 = "I love Pizza"
str1.find("Piz")

7

In [35]:
fruits ="Mango, Banana, Apple"
fruits.split(", ")

['Mango', 'Banana', 'Apple']

## List

In [48]:
l1 = [1, "a", 2, True]

In [49]:
l1[0]=100
l1

[100, 'a', 2, True]

In [50]:
l1.append("VaibhaV")
l1

[100, 'a', 2, True, 'VaibhaV']

In [51]:
l1.pop()

'VaibhaV'

In [52]:
l1

[100, 'a', 2, True]

In [53]:
l1.reverse()
l1

[True, 2, 'a', 100]

In [54]:
l1.insert(1, "Test")
l1

[True, 'Test', 2, 'a', 100]

In [56]:
l1.sort()
l1

TypeError: '<' not supported between instances of 'str' and 'bool'

In [57]:
l2 = ['Mango', 'Banana', 'Apple']
l2.sort()
l2

['Apple', 'Banana', 'Mango']

In [58]:
l1 = ["a", "b", "c"]
l2 = [1, 2, 3]
l1+ l2

['a', 'b', 'c', 1, 2, 3]

In [59]:
l1 = [1, "b", True]
l1 * 3

[1, 'b', True, 1, 'b', True, 1, 'b', True]

## Tuple
- Tuple are ordered collection of elements enclosed within ()
- Tuples are immutable, once created we can not update or change values of tuple

In [60]:
tup1 = (1, "b", True)
tup1

(1, 'b', True)

In [61]:
type(tup1)

tuple

In [63]:
tup2 = tup1 *3 
tup2

(1, 'b', True, 1, 'b', True, 1, 'b', True)

In [64]:
tup2[1:6]

('b', True, 1, 'b', True)

In [65]:
tup2[::2]

(1, True, 'b', 1, True)

In [66]:
tup2[2]="Test"

TypeError: 'tuple' object does not support item assignment

In [67]:
tup1 = ("a", "b", "c")
tup2 = (1, 2, 3)
tup1 + tup2

('a', 'b', 'c', 1, 2, 3)

## Dictionary
- Dictionary is an unordered collection of key-value pairs enclosed with {}
- Dictionary is mutable

In [73]:
fruit = {"Mango": 10, 'Banana': 20, 'Apple':30}

In [74]:
fruit.keys()

dict_keys(['Mango', 'Banana', 'Apple'])

In [75]:
fruit.values()

dict_values([10, 20, 30])

In [76]:
fruit["Guava"]=40
fruit

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [72]:
fruit

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [82]:
f1 = {'Mango': 10, 'Banana': 20}
f2 = {'Apple': 30, 'Guava': 40}

In [84]:
f1.update(f2)
f1

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [86]:
f1.pop("Guava")

40

In [87]:
f1

{'Mango': 10, 'Banana': 20, 'Apple': 30}

## Set
- Set ia a unordered and unindexed collection of elements enclosed with {}
- Duplicates are not allowed in Set

In [93]:
# Try duplicates with set
s1 = {"c", "a", "b", 1, 2, 3, "a", "b", 1, 2}
s1

{1, 2, 3, 'a', 'b', 'c'}

In [94]:
s1.add("Test")
s1

{1, 2, 3, 'Test', 'a', 'b', 'c'}

In [95]:
s1.remove("b")
s1

{1, 2, 3, 'Test', 'a', 'c'}

In [105]:
s1 = {'Mango', 'Banana', 'Apple', 1, 2, 'a'}
s2 = {'a', 'b', 'c', 1, 2}
s1.union(s2)

{1, 2, 'Apple', 'Banana', 'Mango', 'a', 'b', 'c'}

In [106]:
s1

{1, 2, 'Apple', 'Banana', 'Mango', 'a'}

In [107]:
s2

{1, 2, 'a', 'b', 'c'}

In [108]:
s1.intersection(s2)

{1, 2, 'a'}

## Decision making

In [110]:
a, b= 10, 20

In [113]:
if a>b:
    print("A is greater than B")
else:
    print("B is greater than A")

B is greater than A

In [114]:
result= "A is greater than B" if a>b else "B is greater than A"
result

'B is greater than A'

In [115]:
tup= ("a", "b", "c")

In [116]:
if "z" in tup:
    print("z is in tup")
else:
    print("z is not in tup")

z is not in tup

## Looping Statement
To repeat task multiple times

In [117]:
fruit = ['Mango', 'Banana', 'Apple']
for frt in fruit:
    print(frt)

Mango
Banana
Apple

In [119]:
i= 1
while i<=10:
    print(i)
    i+=1

1
2
3
4
5
6
7
8
9
10

## Object Oriented Programming
- Class: user defined data type
    - Attributes
    - Methods
- Objects : Specific instance of a class

In [141]:
class Phone:
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")
    def set_color(self, color):
        self.color = color
    def set_cost(self, cost):
        self.cost = cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost

In [142]:
p1 = Phone()

In [143]:
p1.make_call()

Making phone call

In [144]:
p1.play_game()

Playing game

In [145]:
p1.set_color("Red")

In [146]:
p1.set_cost(1000)

In [147]:
p1.show_color()

'Red'

In [148]:
p1.show_cost()

1000

### Constructor

In [149]:
class Phone:
    def __init__(self, color, cost):
        self.color = color
        self.cost = cost
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")

In [150]:
p1 = Phone("Red", 2000)

In [151]:
p1.color

'Red'

## Inheritance
With inheritance one class can derive the properties of another class

In [154]:
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage = mileage
        self.cost = cost
        
    def vehicle_details(self):
        print(f"Vehicle has {self.mileage} mileage and it cost ${self.cost}")

In [156]:
v1 = Vehicle(27, 15000)
v1.vehicle_details()

Vehicle has 27 mileage and it cost $15000

In [159]:
class Car(Vehicle):
    def show_car(self):
        print("I am Car")

In [160]:
c1 = Car(200, 15000)

In [161]:
c1.show_car()

I am Car

In [162]:
c1.vehicle_details()

Vehicle has 200 mileage and it cost $15000

In [171]:
class Car(Vehicle):
    def __init__(self, mileage, cost, hp ):
        super().__init__(mileage, cost)
        self.hp = hp
    def show_car(self):
        print(f"I am car with mileage: {self.mileage}, cost: {self.cost}, power: {self.hp} ")

In [172]:
c1= Car(100, 15000, 2000)

In [173]:
c1.show_car()

I am car with mileage: 100, cost: 15000, power: 2000

In [174]:
c1.vehicle_details()

Vehicle has 100 mileage and it cost $15000

## Multiple Inheretance
Child inherite more than one parent class

In [181]:
2

In [182]:
c1 = Child()
c1.assign_string_1("One")
c1.assign_string_2("Two")
c1.assign_string_3("Three")

In [184]:
print(c1.show_string_1())
print(c1.show_string_2())
print(c1.show_string_3())

One
Two
Three

## Multi Level Inheritance
-We have Parent, Child, grand-child

In [185]:
class Parent1:
    def assign_name(self, name):
        self.name = name
    def show_name(self):
        return self.name
    
class Child(Parent1):
    def assign_age(self, age):
        self.age = age
    def show_age(self):
        return self.age
    
class GrandChild(Child):
    def assign_gender(self, gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [186]:
gc = GrandChild()

In [187]:
gc.assign_name("Test")

In [188]:
gc.assign_age(21)

In [189]:
gc.assign_gender("Male")

In [191]:
print(f"{gc.show_name()} is a {gc.show_gender()} aged {gc.show_age()}")

Test is a Male aged 21

## File Handling
- Open mode : Open text file for reading, writing and doing some other stuff
- Read mode : To read the text which is already stored in your text file
- Write mode : To write your text in .txt file