In [1]:
print("This is Kolhapur")

This is Kolhapur

## Variable

In [2]:
name ="VaibhaV"

In [3]:
print(name)

VaibhaV

In [4]:
name = "Sheetal"

In [5]:
print(name)

Sheetal

## Data type
- int
- float
- Boolean
- String

In [6]:
num1= 1 
print(type(num1))
num2= 2.303 
print(type(num2))
num3= True 
print(type(num3))
num4= "VaibhaV" 
print(type(num4))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>

## Operators

## Arithmatic Operator +, -, *, /

In [7]:

num1, num2 =36, 7

In [8]:
num1 + num2

43

In [9]:
num1 - num2

29

In [10]:
num1 * num2

252

In [11]:
num1 / num2

5.142857142857143

In [12]:
num1 // num2

5

## Relational Operator <, >, ==, !=

In [13]:
num1 > num2

True

In [14]:
num1 < num2

False

In [15]:
num1 == num2

False

In [16]:
num1 != num2

True

## Logical Operator & |

In [17]:
log1 = True
log2 = False

In [18]:
log1 & log2

False

In [19]:
log1 & log1

True

In [20]:
log1 | log1

True

## Python Tokens
Smallest meaning full componet in program
- Keywords : Special reversed words like For If Yield
- Identifiers: Names used for variables, functions or objects
- Literals : Costants in python
    - num = "Test" : here "num" is Identifier and "Test" is literal
- Operators

## String:

In [21]:
str1 = "I love Pizza"
str1.find("Piz")

7

In [22]:
fruits ="Mango, Banana, Apple"
fruits.split(", ")

['Mango', 'Banana', 'Apple']

## List

In [23]:
l1 = [1, "a", 2, True]

In [24]:
l1[0]=100
l1

[100, 'a', 2, True]

In [25]:
l1.append("VaibhaV")
l1

[100, 'a', 2, True, 'VaibhaV']

In [26]:
l1.pop()

'VaibhaV'

In [27]:
l1

[100, 'a', 2, True]

In [28]:
l1.reverse()
l1

[True, 2, 'a', 100]

In [29]:
l1.insert(1, "Test")
l1

[True, 'Test', 2, 'a', 100]

In [30]:
l1.sort()
l1

TypeError: '<' not supported between instances of 'str' and 'bool'

In [31]:
l2 = ['Mango', 'Banana', 'Apple']
l2.sort()
l2

['Apple', 'Banana', 'Mango']

In [32]:
l1 = ["a", "b", "c"]
l2 = [1, 2, 3]
l1+ l2

['a', 'b', 'c', 1, 2, 3]

In [33]:
l1 = [1, "b", True]
l1 * 3

[1, 'b', True, 1, 'b', True, 1, 'b', True]

## Tuple
- Tuple are ordered collection of elements enclosed within ()
- Tuples are immutable, once created we can not update or change values of tuple

In [34]:
tup1 = (1, "b", True)
tup1

(1, 'b', True)

In [35]:
type(tup1)

tuple

In [36]:
tup2 = tup1 *3 
tup2

(1, 'b', True, 1, 'b', True, 1, 'b', True)

In [37]:
tup2[1:6]

('b', True, 1, 'b', True)

In [38]:
tup2[::2]

(1, True, 'b', 1, True)

In [39]:
tup2[2]="Test"

TypeError: 'tuple' object does not support item assignment

In [40]:
tup1 = ("a", "b", "c")
tup2 = (1, 2, 3)
tup1 + tup2

('a', 'b', 'c', 1, 2, 3)

## Dictionary
- Dictionary is an unordered collection of key-value pairs enclosed with {}
- Dictionary is mutable

In [41]:
fruit = {"Mango": 10, 'Banana': 20, 'Apple':30}

In [42]:
fruit.keys()

dict_keys(['Mango', 'Banana', 'Apple'])

In [43]:
fruit.values()

dict_values([10, 20, 30])

In [44]:
fruit["Guava"]=40
fruit

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [45]:
fruit

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [46]:
f1 = {'Mango': 10, 'Banana': 20}
f2 = {'Apple': 30, 'Guava': 40}

In [47]:
f1.update(f2)
f1

{'Mango': 10, 'Banana': 20, 'Apple': 30, 'Guava': 40}

In [48]:
f1.pop("Guava")

40

In [49]:
f1

{'Mango': 10, 'Banana': 20, 'Apple': 30}

## Set
- Set ia a unordered and unindexed collection of elements enclosed with {}
- Duplicates are not allowed in Set

In [50]:
# Try duplicates with set
s1 = {"c", "a", "b", 1, 2, 3, "a", "b", 1, 2}
s1

{1, 2, 3, 'a', 'b', 'c'}

In [51]:
s1.add("Test")
s1

{1, 2, 3, 'Test', 'a', 'b', 'c'}

In [52]:
s1.remove("b")
s1

{1, 2, 3, 'Test', 'a', 'c'}

In [53]:
s1 = {'Mango', 'Banana', 'Apple', 1, 2, 'a'}
s2 = {'a', 'b', 'c', 1, 2}
s1.union(s2)

{1, 2, 'Apple', 'Banana', 'Mango', 'a', 'b', 'c'}

In [54]:
s1

{1, 2, 'Apple', 'Banana', 'Mango', 'a'}

In [55]:
s2

{1, 2, 'a', 'b', 'c'}

In [56]:
s1.intersection(s2)

{1, 2, 'a'}

## Decision making

In [57]:
a, b= 10, 20

In [ ]:
if a>b:
    print("A is greater than B")
else:
    print("B is greater than A")

In [ ]:
result= "A is greater than B" if a>b else "B is greater than A"
result

In [ ]:
tup= ("a", "b", "c")

In [ ]:
if "z" in tup:
    print("z is in tup")
else:
    print("z is not in tup")

## Looping Statement
To repeat task multiple times

In [ ]:
fruit = ['Mango', 'Banana', 'Apple']
for frt in fruit:
    print(frt)

In [ ]:
i= 1
while i<=10:
    print(i)
    i+=1

## Object Oriented Programming
- Class: user defined data type
    - Attributes
    - Methods
- Objects : Specific instance of a class

In [ ]:
class Phone:
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")
    def set_color(self, color):
        self.color = color
    def set_cost(self, cost):
        self.cost = cost
    def show_color(self):
        return self.color
    def show_cost(self):
        return self.cost

In [ ]:
p1 = Phone()

In [ ]:
p1.make_call()

In [ ]:
p1.play_game()

In [ ]:
p1.set_color("Red")

In [ ]:
p1.set_cost(1000)

In [ ]:
p1.show_color()

In [ ]:
p1.show_cost()

### Constructor

In [ ]:
class Phone:
    def __init__(self, color, cost):
        self.color = color
        self.cost = cost
    def make_call(self):
        print("Making phone call")
    def play_game(self):
        print("Playing game")

In [ ]:
p1 = Phone("Red", 2000)

In [ ]:
p1.color

## Inheritance
With inheritance one class can derive the properties of another class

In [ ]:
class Vehicle:
    def __init__(self, mileage, cost):
        self.mileage = mileage
        self.cost = cost
        
    def vehicle_details(self):
        print(f"Vehicle has {self.mileage} mileage and it cost ${self.cost}")

In [ ]:
v1 = Vehicle(27, 15000)
v1.vehicle_details()

In [ ]:
class Car(Vehicle):
    def show_car(self):
        print("I am Car")

In [ ]:
c1 = Car(200, 15000)

In [ ]:
c1.show_car()

In [ ]:
c1.vehicle_details()

In [ ]:
class Car(Vehicle):
    def __init__(self, mileage, cost, hp ):
        super().__init__(mileage, cost)
        self.hp = hp
    def show_car(self):
        print(f"I am car with mileage: {self.mileage}, cost: {self.cost}, power: {self.hp} ")

In [ ]:
c1= Car(100, 15000, 2000)

In [ ]:
c1.show_car()

In [ ]:
c1.vehicle_details()

## Multiple Inheretance
Child inherite more than one parent class

In [ ]:
2

In [ ]:
c1 = Child()
c1.assign_string_1("One")
c1.assign_string_2("Two")
c1.assign_string_3("Three")

In [ ]:
print(c1.show_string_1())
print(c1.show_string_2())
print(c1.show_string_3())

## Multi Level Inheritance
-We have Parent, Child, grand-child

In [ ]:
class Parent1:
    def assign_name(self, name):
        self.name = name
    def show_name(self):
        return self.name
    
class Child(Parent1):
    def assign_age(self, age):
        self.age = age
    def show_age(self):
        return self.age
    
class GrandChild(Child):
    def assign_gender(self, gender):
        self.gender = gender
    def show_gender(self):
        return self.gender

In [ ]:
gc = GrandChild()

In [ ]:
gc.assign_name("Test")

In [ ]:
gc.assign_age(21)

In [ ]:
gc.assign_gender("Male")

In [ ]:
print(f"{gc.show_name()} is a {gc.show_gender()} aged {gc.show_age()}")

## File Handling
- Open mode : Open text file for reading, writing and doing some other stuff
- Read mode : To read the text which is already stored in your text file
- Write mode : To write your text in .txt file

In [ ]:
file = open('test.txt', 'w')

try:
    file.write('Chai aur code line 1')
finally:
    file.close()

In [ ]:
file = open('test.txt', 'a')

try:
    file.write('\nChai aur code line 2')
finally:
    file.close()

In [ ]:
file = open('test.txt', 'r')
data_read = file.read()
total_count = len(data_read)
print(total_count)

## Readline functions

In [ ]:
f = open('test.txt', 'w')
f.write("I am learning file handling")
f.write("\n Topic is file handling, read and write")

In [ ]:
f = open('test.txt', 'r')

In [ ]:
print(f.readline())

In [ ]:
print(f.readline())

In [ ]:
print(f.readline())

## Try Except

In [ ]:
a =input("Enter the number 1 : ")
b =input("Enter the number 2 : ")

try:
    c= int(a) + b
    print(c)
except Exception as e:
    print(e)

In [ ]:
try:
    c= int(a) + b
    print(c)
except:
    print("Error in try block")

## Try with else clause
Else clause is used with the try clause when you want to execute the set of instructions in the absence of exceptions in your code

In [ ]:
a =input("Enter the number 1 : ")
b =input("Enter the number 2 : ")

try:
    c= int(a) + int(b)
    print(c)
except Exception as e:
    print(e)
else:
    print("All inputs are good, Else clause got executed!!")

## Try Finally keyword
Finally is a keyword which surely executes after the execution of the try except block of statement

In [ ]:
a =input("Enter the number 1 : ")
b =input("Enter the number 2 : ")

try:
    c= int(a) + b
    print(c)
except:
    print("Error in try block")
finally:
    print("Finally runs post try except")

In [ ]:
a =input("Enter the number 1 : ")
b =input("Enter the number 2 : ")

try:
    c= int(a) + int(b)
    print(c)
except Exception as e:
    print(e)
else:
    print("All inputs are good, Else clause got executed!!")
finally:
    print("Finally runs post try except")