# <font color="purple"><h3 align="center">Different Ways Of Creating Dataframe</h3></font>

## <font color="green">Using csv</h3></font>

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("weather_data.csv")
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using excel</h3></font>

## Note
Openpyxl is a Python library specifically designed for reading and writing Excel 2010 xlsx/xlsm/xltx/xltm files. It provides low-level access to Excel files, allowing you to interact with worksheets, cells, and formatting.

Pandas, on the other hand, is a high-level data manipulation library built on top of NumPy. It offers powerful tools for data analysis, cleaning, and exploration. While Pandas can read Excel files using pd.read_excel(), it relies on other libraries like openpyxl (or xlrd for older Excel formats) to do the actual file handling.

`conda install openpyxl`

In [8]:
df=pd.read_excel("weather_data.xlsx", "Sheet1")
df

         day  temperature  windspeed  event
0 2017-01-01           32          6   Rain
1 2017-01-02           35          7  Sunny
2 2017-01-03           28          2   Snow

## <font color="green">Using dictionary</h3></font>

In [9]:
import pandas as pd
weather_data = {
    'day': ['1/1/2017','1/2/2017','1/3/2017'],
    'temperature': [32,35,28],
    'windspeed': [6,7,2],
    'event': ['Rain', 'Sunny', 'Snow']
}
df = pd.DataFrame(weather_data)
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using tuples list</h3></font>

In [10]:
weather_data = [
    ('1/1/2017',32,6,'Rain'),
    ('1/2/2017',35,7,'Sunny'),
    ('1/3/2017',28,2,'Snow')
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

## <font color="green">Using list of dictionaries</h3></font>

In [16]:
weather_data = [
    {'day': '1/1/2017', 'temperature': 32, 'windspeed': 6, 'event': 'Rain'},
    {'day': '1/2/2017', 'temperature': 35, 'windspeed': 7, 'event': 'Sunny'},
    {'day': '1/3/2017', 'temperature': 28, 'windspeed': 2, 'event': 'Snow'},
    
]
df = pd.DataFrame(data=weather_data, columns=['day','temperature','windspeed','event'])
df

        day  temperature  windspeed  event
0  1/1/2017           32          6   Rain
1  1/2/2017           35          7  Sunny
2  1/3/2017           28          2   Snow

In [17]:
import pandas as pd

list1 = [6,4,6,9,45,23,15,82,0]
names = ["name1","name2","name3","name4","name5","name6","name7","name8","name9"]

# Create a dictionary with the two lists
data = {'numbers': list1, 'names': names}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

print(df)

   numbers  names
0        6  name1
1        4  name2
2        6  name3
3        9  name4
4       45  name5
5       23  name6
6       15  name7
7       82  name8
8        0  name9